.header {
  color: red;
  padding-bottom: 20px;
  padding-top: 0px;
  border-bottom: 2px solid red;
  background-color: #A49480;
}

.headerh1 {
  text-decoration: underline;
  font-size: 64px;
}

.headerh2 {
  color: black;
}
